RewriteEngine On

RewriteCond %{HTTP_REFERER} (7makemoneyonline\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (backgroundpictures\.net) [NC,OR]
RewriteCond %{HTTP_REFERER} (buttons\-for\-website\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (buttons-for-website\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (checkparams\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (darcshare\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (darodar\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (embedle\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (extener\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (extener\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (fbfreegifts\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (feedouble\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (feedouble\.net) [NC,OR]
RewriteCond %{HTTP_REFERER} (japfm\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (joinandplay\.me) [NC,OR]
RewriteCond %{HTTP_REFERER} (joingames\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (kambasoft\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (musicprojectfoundation\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (myprintscreen\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (openfrost\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (openmediasoft\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (savetubevideo\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (semalt\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (softomix\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (softomix\.net) [NC,OR]
RewriteCond %{HTTP_REFERER} (softomix\.ru) [NC,OR]
RewriteCond %{HTTP_REFERER} (soundfrost\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (srecorder\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (tech\-spot\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (tech-spot\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (the\-vault\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (the-vault\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (vapmedia\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (videofrost\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (videofrost\.net) [NC,OR]
RewriteCond %{HTTP_REFERER} (website\-errors\-scanner\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (website-errors-scanner\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (wrztalk\.com) [NC,OR]
RewriteCond %{HTTP_REFERER} (youtubedownload\.org) [NC,OR]
RewriteCond %{HTTP_REFERER} (zazagames\.org) [NC]

RewriteRule .* - [F]